In [1]:
import pandas as pd
import os

In [7]:
file_pat='data'
all_files=os.listdir(file_pat)

In [9]:
dfs=[]
for file in all_files:
    if file.endswith('.csv'):
        file_path=os.path.join(file_pat,file)
        df=pd.read_csv(file_path)
        dfs.append(df)
        
merge_df=pd.concat(dfs,ignore_index=True)

In [15]:
merge_df.isnull().sum()

Symbol            0
Date              0
Open              0
High              0
Low               0
Close             0
Percent Change    0
Volume            0
Turn Over         0
dtype: int64

In [16]:
merge_df.dtypes

Symbol             object
Date               object
Open              float64
High              float64
Low               float64
Close             float64
Percent Change     object
Volume             object
Turn Over          object
dtype: object

In [24]:
merge_df['Volume']=(merge_df['Volume'].replace('-',None).str.replace(',','',regex=False).astype(float))

In [25]:
merge_df.isnull().sum()

Symbol               0
Date                 0
Open                 0
High                 0
Low                  0
Close                0
Percent Change       0
Volume            1246
Turn Over            0
dtype: int64

In [26]:
merge_df['Date']=pd.to_datetime(merge_df['Date'])

In [36]:
merge_df.columns

Index(['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Percent Change',
       'Volume', 'Turn Over'],
      dtype='object')

In [37]:
df2 = merge_df.drop(columns=['Percent Change', 'Turn Over'])

In [41]:
df2.isnull().sum()
df2=df2.sort_values(['Symbol','Date'])

In [42]:
df2['Return']=df2.groupby('Symbol')['Close'].pct_change()

In [43]:
df2

      Symbol       Date   Open   High    Low  Close   Volume    Return
970      AHL 2024-11-26  712.0  714.9  701.5  710.0   9191.0       NaN
969      AHL 2024-11-27  712.0  730.0  701.1  724.0  14919.0  0.019718
968      AHL 2024-11-28  725.1  740.0  725.1  730.0  20929.0  0.008287
967      AHL 2024-12-01  715.4  733.0  703.0  728.7  10062.0 -0.001781
966      AHL 2024-12-02  743.2  743.2  720.0  730.0  12049.0  0.001784
...      ...        ...    ...    ...    ...    ...      ...       ...
20336  VLUCL 2025-12-18  590.0  590.0  571.0  579.0   9221.0 -0.000863
20335  VLUCL 2025-12-21  571.0  575.0  560.1  568.0   7435.0 -0.018998
20334  VLUCL 2025-12-22  556.7  570.0  556.7  570.0   6317.0  0.003521
20333  VLUCL 2025-12-23  558.6  579.0  558.6  573.0   2100.0  0.005263
20332  VLUCL 2025-12-24  563.1  565.0  561.9  561.9   2131.0 -0.019372

[20577 rows x 8 columns]

In [44]:
df2['Return'].max()

np.float64(0.10000000000000009)

In [45]:
df2.to_csv('hydropower(1year).csv')

In [1]:
import pandas as pd

In [9]:
df1=pd.read_csv('hydropower(1year).csv')

In [10]:
df1

,Unnamed: 0,Symbol,Date,Open,High,Low,Close,Volume,Return
0,970,AHL,2024-11-26,712.0,714.9,701.5,710.0,9191.0,NaN
1,969,AHL,2024-11-27,712.0,730.0,701.1,724.0,14919.0,0.019718
2,968,AHL,2024-11-28,725.1,740.0,725.1,730.0,20929.0,0.008287
3,967,AHL,2024-12-01,715.4,733.0,703.0,728.7,10062.0,-0.001781
4,966,AHL,2024-12-02,743.2,743.2,720.0,730.0,12049.0,0.001784
...,...,...,...,...,...,...,...,...,...
20572,20336,VLUCL,2025-12-18,590.0,590.0,571.0,579.0,9221.0,-0.000863
20573,20335,VLUCL,2025-12-21,571.0,575.0,560.1,568.0,7435.0,-0.018998
20574,20334,VLUCL,2025-12-22,556.7,570.0,556.7,570.0,6317.0,0.003521
20575,20333,VLUCL,2025-12-23,558.6,579.0,558.6,573.0,2100.0,0.005263
20576,20332,VLUCL,2025-12-24,563.1,565.0,561.9,561.9,2131.0,-0.019372

In [11]:
df2=df1.drop('Unnamed: 0',axis=1)

In [12]:
df2

      Symbol        Date   Open   High    Low  Close   Volume    Return
0        AHL  2024-11-26  712.0  714.9  701.5  710.0   9191.0       NaN
1        AHL  2024-11-27  712.0  730.0  701.1  724.0  14919.0  0.019718
2        AHL  2024-11-28  725.1  740.0  725.1  730.0  20929.0  0.008287
3        AHL  2024-12-01  715.4  733.0  703.0  728.7  10062.0 -0.001781
4        AHL  2024-12-02  743.2  743.2  720.0  730.0  12049.0  0.001784
...      ...         ...    ...    ...    ...    ...      ...       ...
20572  VLUCL  2025-12-18  590.0  590.0  571.0  579.0   9221.0 -0.000863
20573  VLUCL  2025-12-21  571.0  575.0  560.1  568.0   7435.0 -0.018998
20574  VLUCL  2025-12-22  556.7  570.0  556.7  570.0   6317.0  0.003521
20575  VLUCL  2025-12-23  558.6  579.0  558.6  573.0   2100.0  0.005263
20576  VLUCL  2025-12-24  563.1  565.0  561.9  561.9   2131.0 -0.019372

[20577 rows x 8 columns]

In [13]:
df2.to_csv('hydropower1year.csv',index=False)

In [2]:
import pandas as pd

In [3]:
df2=pd.read_csv('hydropower1year.csv')

In [4]:
df2.dtypes

Symbol     object
Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
Return    float64
dtype: object

In [5]:
df2['Date']=pd.to_datetime(df2['Date'])

In [6]:
df2.dtypes

Symbol            object
Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
Return           float64
dtype: object

In [7]:
df2.to_csv('hydro.csv')

In [8]:
df3=pd.read_csv('hydro.csv')

In [9]:
df3.dtypes

Unnamed: 0      int64
Symbol         object
Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
Return        float64
dtype: object