In [25]:
import pandas as pd
import os
import numpy as np

In [4]:
folder_path='data'
all_files=os.listdir(folder_path)

In [6]:
dfs=[]
for file in all_files:
    if file.endswith(".csv"):
        file_path=os.path.join(folder_path,file)
        df=pd.read_csv(file_path)
        dfs.append(df)


merge_df=pd.concat(dfs,ignore_index=True)
merge_df.to_csv("merged.csv",index=False)

In [7]:
df2=pd.read_csv('merged.csv')

In [8]:
df2

,Symbol,Date,Open,High,Low,Close,Percent Change,Volume,Turn Over
0,AHL,2025-12-22,555.0,557.0,545.1,550.20,-1.22 %,"12,467.00",-
1,AHL,2025-12-21,565.0,570.0,556.0,557.00,-2.62 %,"9,937.00",-
2,AHL,2025-12-18,583.0,583.0,571.3,572.00,-1.41 %,"9,929.00",-
3,AHL,2025-12-17,577.1,598.0,577.1,580.20,-1.16 %,"7,844.00",-
4,AHL,2025-12-16,595.0,595.0,580.0,587.00,-0.51 %,"14,683.00",-
...,...,...,...,...,...,...,...,...,...
9661,VLUCL,2025-07-07,600.0,604.0,591.0,594.31,-0.47 %,"4,338.00",-
9662,VLUCL,2025-07-06,606.0,606.0,594.0,597.14,-1.48 %,"6,390.00",-
9663,VLUCL,2025-07-03,599.0,611.0,594.0,606.11,1.11 %,"11,920.00",-
9664,VLUCL,2025-07-02,593.0,606.0,591.0,599.44,1.07 %,"9,190.00",-
9665,VLUCL,2025-07-01,590.0,601.8,588.0,593.12,0.70 %,"13,714.00",-

In [10]:
df2['Return']=df2['Close'].pct_change()

In [11]:
df2

,Symbol,Date,Open,High,Low,Close,Percent Change,Volume,Turn Over,Return
0,AHL,2025-12-22,555.0,557.0,545.1,550.20,-1.22 %,"12,467.00",-,NaN
1,AHL,2025-12-21,565.0,570.0,556.0,557.00,-2.62 %,"9,937.00",-,0.012359
2,AHL,2025-12-18,583.0,583.0,571.3,572.00,-1.41 %,"9,929.00",-,0.026930
3,AHL,2025-12-17,577.1,598.0,577.1,580.20,-1.16 %,"7,844.00",-,0.014336
4,AHL,2025-12-16,595.0,595.0,580.0,587.00,-0.51 %,"14,683.00",-,0.011720
...,...,...,...,...,...,...,...,...,...,...
9661,VLUCL,2025-07-07,600.0,604.0,591.0,594.31,-0.47 %,"4,338.00",-,0.003631
9662,VLUCL,2025-07-06,606.0,606.0,594.0,597.14,-1.48 %,"6,390.00",-,0.004762
9663,VLUCL,2025-07-03,599.0,611.0,594.0,606.11,1.11 %,"11,920.00",-,0.015022
9664,VLUCL,2025-07-02,593.0,606.0,591.0,599.44,1.07 %,"9,190.00",-,-0.011005
9665,VLUCL,2025-07-01,590.0,601.8,588.0,593.12,0.70 %,"13,714.00",-,-0.010543

In [13]:
df2.dropna()

,Symbol,Date,Open,High,Low,Close,Percent Change,Volume,Turn Over,Return
1,AHL,2025-12-21,565.0,570.0,556.0,557.00,-2.62 %,"9,937.00",-,0.012359
2,AHL,2025-12-18,583.0,583.0,571.3,572.00,-1.41 %,"9,929.00",-,0.026930
3,AHL,2025-12-17,577.1,598.0,577.1,580.20,-1.16 %,"7,844.00",-,0.014336
4,AHL,2025-12-16,595.0,595.0,580.0,587.00,-0.51 %,"14,683.00",-,0.011720
5,AHL,2025-12-15,583.1,596.0,583.1,590.00,-0.82 %,"7,165.00",-,0.005111
...,...,...,...,...,...,...,...,...,...,...
9661,VLUCL,2025-07-07,600.0,604.0,591.0,594.31,-0.47 %,"4,338.00",-,0.003631
9662,VLUCL,2025-07-06,606.0,606.0,594.0,597.14,-1.48 %,"6,390.00",-,0.004762
9663,VLUCL,2025-07-03,599.0,611.0,594.0,606.11,1.11 %,"11,920.00",-,0.015022
9664,VLUCL,2025-07-02,593.0,606.0,591.0,599.44,1.07 %,"9,190.00",-,-0.011005
9665,VLUCL,2025-07-01,590.0,601.8,588.0,593.12,0.70 %,"13,714.00",-,-0.010543

In [14]:
volatility=(df2.groupby('Symbol')['Return'].std().sort_values(ascending=False))

In [15]:
print(volatility.head(10))

Symbol
KBSH       0.408272
MABEL      0.393386
RURU       0.174633
TAMOR      0.160116
HIMSTAR    0.143329
BHPL       0.140645
IHL        0.134838
USHEC      0.132850
SMH        0.130475
KPCL       0.117310
Name: Return, dtype: float64

In [16]:
vol_df1=volatility.reset_index()
vol_df1.columns=['Symbol','Volatility']

In [17]:
vol_df1

     Symbol  Volatility
0      KBSH    0.408272
1     MABEL    0.393386
2      RURU    0.174633
3     TAMOR    0.160116
4   HIMSTAR    0.143329
..      ...         ...
91      GLH    0.020610
92      SPC    0.020599
93     RAWA    0.019346
94      API    0.019283
95     UMRH    0.016880

[96 rows x 2 columns]

In [18]:
average_return=(df2.groupby('Symbol')['Return'].mean().sort_values(ascending=False))

In [19]:
ret_df1=average_return.reset_index()
ret_df1.columns=['Symbol','Average_Return']

In [20]:
ret_df1

    Symbol  Average_Return
0    MABEL        0.047495
1     KBSH        0.040777
2     RURU        0.017193
3    TAMOR        0.017154
4     BHPL        0.016944
..     ...             ...
91    SSHL       -0.006363
92    KKHC       -0.006705
93    DHEL       -0.010133
94    BHCL       -0.010905
95  BUNGAL       -0.027225

[96 rows x 2 columns]

In [21]:
merged_df=pd.merge(vol_df1,ret_df1,on='Symbol')

In [22]:
merged_df

     Symbol  Volatility  Average_Return
0      KBSH    0.408272        0.040777
1     MABEL    0.393386        0.047495
2      RURU    0.174633        0.017193
3     TAMOR    0.160116        0.017154
4   HIMSTAR    0.143329        0.000315
..      ...         ...             ...
91      GLH    0.020610        0.001071
92      SPC    0.020599        0.000083
93     RAWA    0.019346        0.000090
94      API    0.019283        0.001079
95     UMRH    0.016880        0.000516

[96 rows x 3 columns]

In [23]:
merged_df['sharpe_ratio_daily']=merged_df['Average_Return']/merged_df['Volatility']

In [26]:
merged_df['sharpe_ratio_anuually']=merged_df['sharpe_ratio_daily'] *np.sqrt(252)

In [27]:
merged_df

,Symbol,Volatility,Average_Return,sharpe_ratio_daily,sharpe_ratio_anuually
0,KBSH,0.408272,0.040777,0.099876,1.585488
1,MABEL,0.393386,0.047495,0.120733,1.916574
2,RURU,0.174633,0.017193,0.098450,1.562853
3,TAMOR,0.160116,0.017154,0.107133,1.700681
4,HIMSTAR,0.143329,0.000315,0.002199,0.034909
...,...,...,...,...,...
91,GLH,0.020610,0.001071,0.051975,0.825071
92,SPC,0.020599,0.000083,0.004017,0.063762
93,RAWA,0.019346,0.000090,0.004664,0.074043
94,API,0.019283,0.001079,0.055956,0.888267
95,UMRH,0.016880,0.000516,0.030579,0.485419

In [29]:
merged_df.head(15)

,Symbol,Volatility,Average_Return,sharpe_ratio_daily,sharpe_ratio_anuually
0,KBSH,0.408272,0.040777,0.099876,1.585488
1,MABEL,0.393386,0.047495,0.120733,1.916574
2,RURU,0.174633,0.017193,0.098450,1.562853
3,TAMOR,0.160116,0.017154,0.107133,1.700681
4,HIMSTAR,0.143329,0.000315,0.002199,0.034909
5,BHPL,0.140645,0.016944,0.120477,1.912511
6,IHL,0.134838,0.012626,0.093634,1.486401
7,USHEC,0.132850,0.012398,0.093323,1.481460
8,SMH,0.130475,0.013909,0.106601,1.692245
9,KPCL,0.117310,0.011857,0.101070,1.604439
10,USHL,0.099380,0.006707,0.067487,1.071326
11,GVL,0.092143,0.008237,0.089396,1.419121
12,KKHC,0.091298,-0.006705,-0.073444,-1.165884
13,SHPC,0.086299,0.010024,0.116149,1.843813
14,MKHL,0.085810,0.007615,0.088742,1.408743

In [31]:
merged_df.to_csv('hydro_return.csv',index=True)